* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(img/IMG_7256.JPG);
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar li a {
    border-bottom: 3px solid transparent;
    font-weight: 600;
    transition: all .55s ease;
}

.navbar li a:hover {
    border-bottom: 3px solid white;
}



header {
    position: fixed;
    top: 0;
    background-color: rgba(128, 124, 125, 0.5);
    left: 0;
    width: 100%;
    padding: 0 2rem;
    transition: 0.5s;
    align-items: center;
    z-index: 100;

}

header .sticky {
    background: rgba(128, 124, 125, 0.5);
    box-shadow: 0.1rem 1rem black;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logot {
    font-size: 20px;
    cursor: pointer;
    transition: scale 0.2s ease;
}



.navbar .logo {
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

header .togglebtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.starthierbtn {
    background-color: rgb(7, 66, 140);
    color: white;
    border-radius: 40px;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    font-size: 0, 5px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}


.starthierbtn:hover {
    scale: 1.05;

}

.dropdownmenu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgb(7, 66, 140);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.starthierbtn:active {
    scale: 0.95;
}

.dropdownmenu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownmenu.open {
    height: 260px;
    margin-top: 30px;
}

.dropdownmenu .starthierbtn {
    width: 100%;
    display: flex;
    color: black;
    background-color: white;
    justify-content: center;
}

.home {
    margin-top: 220px;
    height: 425px;
}

.home-content h3,
.home-content h1,
.home-content p,
.socialmedia {
    margin-left: 230px;
    display: flex;
    align-items: center;
}

.homeimg {
    display: inline;
    width: 25%;
    float: right;
    margin-right: 290px;
}

.homeimg:hover {
    scale: 1.07;
}

.home .home-content p {
    max-width: 400px;
}

.home-content h3 {
    font-size: 35px;
    line-height: .3;
    font-weight: 700;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(7, 66, 140);
}



.socialmedia .socialmedia1 {
    margin-left: 0;
}

.socialmedia a {
    color: rgb(7, 66, 140);
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border: 2px solid rgb(7, 66, 140);
    background-color: transparent;
    border-radius: 180px;
    margin-inline: 15px;
    margin-top: 20px;
    transition: .5s ease;
}

.socialmedia a:hover {
    color: white;
    background-color: rgb(7, 66, 140);
}

.about {
    height: 590px;

}

@media only screen and (max-width: 992px) {
    body {
        background-position: right;

    }

    .dropdownmenu.open {
        height: 260px;
        margin-top: 60px;
    }

    .navbar .links,
    .navbar .starthierbtn {
        display: none;
    }

    header .togglebtn {
        display: block;
        float: right;
    }

    .dropdownmenu {
        display: block;
    }

    .home-content h3,
    .home-content h1,
    .home-content p,
    .socialmedia {
        margin-left: 250px;
    }

    .homeimg {
        float: left;
        margin-left: 29px;
        margin-right: 0px;
    }

}

@media only screen and (max-width: 576px) {
    .dropdownmenu {
        width: unset;
        left: 2rem;
    }

    body {
        background-position: center;
    }


    .home-content h3 {
        font-size: 25px;


    }

    .dropdownmenu.open {
        height: 260px;
        margin-top: 50px;
    }

    .home-content h3,
    .home-content h1,
    .home-content p,
    .socialmedia {
        margin-left: 25px;
        margin-top: 5px;
    }

    .homeimg {
        float: right;
        margin-right: 45px;
        width: 40%;
        margin-top: 0px;
        display: none;
    }

    .home-content h1 {
        white-space: nowrap;
        width: 400px;
    }

    .home {
        margin-top: 150px;
    }

    header {
        background-color: rgb(7, 66, 140, 0.7);
        height: 90px;
    }


}